.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.idea/
.vscode/
*.iml
.DS_Store
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
android/.gradle/
android/local.properties
